<button
    class="button-theme"
    id="switch-theme"
    title="Toggle light & dark theme"
    aria-label="auto"
    aria-live="polite"
>
    <span class="is-light">Light theme</span>
    <span class="is-dark">Dark theme</span>
</button>