<!DOCTYPE html>
<html lang="en" class="h-full m-0 p-0">
    <head>
        <meta charset="utf-8">
        <title>{{ title || site.title }}</title>
        <link rel="stylesheet" href="/unocss.css">
        {{# <meta name="description" content=`{{ description || site.description }}`> #}}
        {{# <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ site.title}}"> #}}
        {{# <link rel="alternate" href="/feed.json" type="application/json" title="{{ site.title}}"> #}}
    </head>
    <body class="font-mono h-full m-0 p-0 flex flex-col flex-auto flex-items-stretch flex-justify-between">
        <header class="p-3">
            {{ comp.nav({ url, site }) |> safe }}
        </header>

        <main class="flex-auto p-3">
            {{ content }}
        </main>
        <footer class="flex-initial p-3 color-gray"><small>Creation date: <time datetime="{{ date }}">{{ date }}</time></small></footer>
    </body>
</html>