---
layout: layouts/base.vto
bodyClass: body-tag
---
<article class="post" data-pagefind-body>
  <header class="post-header">
    <h1 class="post-title">{{ it.title }}</h1>

    {{ it.subtitle |> md }}
  </header>

  <div class="post-body" transform-images="avif webp jpg 370@2 720@2">
    {{ content }}
  </div>
</article>